<div id="cocktail-show" style="background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5) 90%), url(<%= @cocktail.photo %>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>

    <div class="recette">
      <p>Suivez la recette du chef, et shakez après chaque ajout.</p>
      <% if @cocktail.doses.count == 0 %>
        <p>Pas encore de dose disponible pour ce cocktail.</p>
      <% else %>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li>Ajoutez <%= dose.description %> de <%= dose.ingredient.name %></li>
          <% end %>
          <li>C'est prêt ! Savourez votre cocktail fait maison</li>
        </ul>
      <% end %>
    </div>

    <div class="buttons">
      <%= link_to 'Ajouter une dose à ce cocktail', new_cocktail_dose_path(@cocktail), class: 'btn-create'%>
      <%= link_to 'Retour à la liste des cocktails', cocktails_path, class: 'btn-list' %>
    </div>

  </div>
</div>
