<div class="container">
  <h2>Les doses du cocktail <%= @cocktail.name %></h2>

  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to 'Supprimer cette dose', cocktail_dose_path(cocktail_id: @cocktail, id: dose.id), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Ajouter une dose à ce cocktail', new_cocktail_dose_path(@cocktail), class: 'btn btn-success' %>

</div>
